services:
  redis:
    image: "redis:latest"
    container_name: redis-cache
    ports:
      - "6379:6379"
    networks:
      - soft-cep-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 1s
      timeout: 3s
      retries: 5


  app:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: soft-cep-app
    depends_on:
      redis:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Production}
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__Redis: "redis-cache:6379"
      Infrastructure__ViaCep__BaseUrl: "https://viacep.com.br/ws/"
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - soft-cep-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "-s", "-o", "/dev/null", "-w", "%{http_code}", "http://localhost:8080/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  soft-cep-network:
    driver: bridge
